.carttop{
    width: 100%;
    height: auto;
    .container{
        width: 1400px;
        height: 30px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 40px auto;
        p{
            font-size: 16px;
            color: black;
            cursor: pointer;
            &:hover{
                font-weight: 700;
            }
            span{
                font-size: 16px;
                color: #8D8474;
                &:hover{
                    font-weight: 700;
                    color: black;
                }
            }
            svg{
                font-size: 16px;
                margin-top: 8.5px;
            }
        }
    }
}
@media (max-width: 480px){
    .carttop{
        width: 100%;
        height: auto;
        .container{
            width: 95%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
            margin: 10px auto;
            p{
                font-size: 17px;
                color: black;
                cursor: pointer;
                &:hover{
                    font-weight: 700;
                }
                span{
                    font-size: 17px;
                    color: #8D8474;
                    &:hover{
                        font-weight: 700;
                        color: black;
                    }
                }
                svg{
                    font-size: 16px;
                    margin-top: 8.5px;
                }
            }
        }
    }
}

@media (min-width: 480px ) and ( max-width:768px){
    .carttop{
        width: 100%;
        height: auto;
        .container{
            width: 98%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
            margin: 10px auto;
            p{
                font-size: 17px;
                color: black;
                cursor: pointer;
                &:hover{
                    font-weight: 700;
                }
                span{
                    font-size: 18px;
                    color: #8D8474;
                    &:hover{
                        font-weight: 700;
                        color: black;
                    }
                }
                svg{
                    font-size: 16px;
                    margin-top: 8.5px;
                }
            }
        }
    }  
}
@media (min-width: 768px ) and ( max-width: 1024px){
    .carttop{
        width: 100%;
        height: auto;
        .container{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 40px auto;
            p{
                font-size: 16px;
                color: black;
                cursor: pointer;
                &:hover{
                    font-weight: 700;
                }
                span{
                    font-size: 16px;
                    color: #8D8474;
                    &:hover{
                        font-weight: 700;
                        color: black;
                    }
                }
                svg{
                    font-size: 16px;
                    margin-top: 8.5px;
                }
            }
        }
    }  
}

@media (min-width: 1024px ) and ( max-width: 1410px){
    .carttop{
        width: 100%;
        height: auto;
        .container{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 40px auto;
            p{
                font-size: 16px;
                color: black;
                cursor: pointer;
                &:hover{
                    font-weight: 700;
                }
                span{
                    font-size: 16px;
                    color: #8D8474;
                    &:hover{
                        font-weight: 700;
                        color: black;
                    }
                }
                svg{
                    font-size: 16px;
                    margin-top: 8.5px;
                }
            }
        }
    }
}