.downlod{
    width: 100%;
    height: auto;
    margin: 60px auto;
    .container{
        width: 1120px;
        height: 260px;
        border: 1px solid #CCC4B6;
        text-align: center;
        margin: 0 auto;
        h1{
         font-size: 32px;
         padding-top: 45px;
        }
        p{
            font-size: 18px;
            padding-top: 20px;
            color: #534C3E;
        }
        button{
            width: 200px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: black;
            color: white;
            font-size: 18px;
            margin-top: 25px;
            font-weight: 600;
            &:hover{
                background-color: white;
                color: black;
                border: 1px solid black;
            }
        }
    }
}
@media (max-width: 480px){
    .downlod{
        width: 100%;
        height: auto;
        margin: 60px auto;
        .container{
            width: 90%;
            height: 220px;
            border: 1px solid #CCC4B6;
            text-align: center;
            margin: 0 auto;
            h1{
             font-size: 24px;
             padding-top: 15px;
            }
            p{
                font-size: 18px;
                padding-top: 18px;
                color: #534C3E;
            }
            button{
                width: 200px;
                height: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: black;
                color: white;
                font-size: 18px;
                margin-top: 25px;
                font-weight: 600;
                &:hover{
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }
            }
        }
    }  
}

@media (min-width: 480px ) and ( max-width:768px){
    .downlod{
        width: 100%;
        height: auto;
        margin: 60px auto;
        .container{
            width: 95%;
            height: 220px;
            border: 1px solid #CCC4B6;
            text-align: center;
            margin: 0 auto;
            h1{
             font-size: 24px;
             padding-top: 20px;
            }
            p{
                font-size: 18px;
                padding-top: 18px;
                color: #534C3E;
            }
            button{
                width: 200px;
                height: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: black;
                color: white;
                font-size: 18px;
                margin-top: 40px;
                font-weight: 600;
                &:hover{
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }
            }
        }
    }  
}

@media (min-width: 768px ) and ( max-width: 1024px){
    .downlod{
        width: 100%;
        height: auto;
        margin: 60px auto;
        .container{
            width: 90%;
            height: 260px;
            border: 1px solid #CCC4B6;
            text-align: center;
            margin: 0 auto;
            h1{
             font-size: 32px;
             padding-top: 45px;
            }
            p{
                font-size: 18px;
                padding-top: 20px;
                color: #534C3E;
            }
            button{
                width: 200px;
                height: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: black;
                color: white;
                font-size: 18px;
                margin-top: 25px;
                font-weight: 600;
                &:hover{
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }
            }
        }
    }
}