.odevaut{
    width: 100%;
    height: auto;
    .container{
        width: 1400px;
        height: 600px;
        margin: 0 auto 50px auto;
        .odevauttop{
            width: 100%;
            height: 30px;
            p{
                font-size: 28px;
                color: black;
            }
        }
        .odevautbotom{
            width: 100%;
            height: 545px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 23px;
            .shop{
                display: none;
            }
        }
    }
}
@media (max-width: 480px) {
    .odevaut{
        width: 100%;
        height: auto;
        .container{
            width: 95%;
            height: auto;
            margin: 0 auto 50px auto;
            .odevauttop{
                width: 100%;
                height: 40px;
                p{
                    font-size: 28px;
                    color: black;
                }
            }
            .odevautbotom{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;
                align-items: center;
                justify-content: space-around;
                margin-top: 23px;
                .odevautShop{
                    display: none;
                }
                .shop{
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 480px ) and ( max-width:768px){
    .odevaut{
        width: 100%;
        height: auto;
        .container{
            width: 95%;
            height: auto;
            margin: 0 auto 50px auto;
            .odevauttop{
                width: 100%;
                height: 40px;
                p{
                    font-size: 28px;
                    color: black;
                }
            }
            .odevautbotom{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;
                align-items: center;
                justify-content: space-around;
                margin-top: 23px;
                .odevautShop{
                    display: none;
                }
                .shop{
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 768px ) and ( max-width: 1024px){
    .odevaut{
        width: 100%;
        height: auto;
        .container{
            width: 100%;
            height: auto;
            margin: 0 auto 50px auto;
            padding: 0 10px;
            .odevauttop{
                width: 100%;
                height: 30px;
                p{
                    font-size: 28px;
                    color: black;
                }
            }
            .odevautbotom{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                row-gap: 25px;
                align-items: center;
                justify-content: space-around;
                margin-top: 23px;
                .shop{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 1024px ) and ( max-width: 1410px){
    .odevaut{
        width: 100%;
        height: auto;
        .container{
            width: 100%;
            height: auto;
            margin: 50px auto;
            padding: 0 10px;
            .odevauttop{
                width: 95%;
                height: 30px;
                p{
                    font-size: 28px;
                    color: black;
                }
            }
            .odevautbotom{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                row-gap: 25px;
                align-items: center;
                justify-content: space-around;
                margin-top: 23px;
                .shop{
                    display: none;
                }
            }
        }
    }
}